! Configuration File for keepalived

global_defs {
   router_id {{ ansible_nodename }}
}

vrrp_instance VI_1 {
    state BACKUP
    interface eth0
    lvs_sync_daemon_interface eth0
    virtual_router_id {{ router_id }}
    nopreempt
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass qwert123!
    }
    virtual_ipaddress {
        10.0.0.1 dev eth0
    }
}

virtual_server 10.0.0.1 8888 {
    delay_loop 6
    lb_algo wlc
    lb_kind DR
    protocol TCP

    real_server 10.0.100.2 8888 {
        weight 1
        TCP_CHECK {
            connect_timeout 10
        }
    }

    real_server 10.0.100.3 8888 {
        weight 1
        TCP_CHECK {
            connect_timeout 10
        }
   }
}
